In [1]:
# Dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# Import Data into a Pandas DataFrame
ridedata_df = pd.read_csv("Resources/ride_data.csv")
citydata_df = pd.read_csv("Resources/city_data.csv")
citydata_df

                city  driver_count   type
0        Richardfort            38  Urban
1       Williamsstad            59  Urban
2        Port Angela            67  Urban
3         Rodneyfort            34  Urban
4        West Robert            39  Urban
..               ...           ...    ...
115     Bradshawfurt             7  Rural
116     New Ryantown             2  Rural
117   Randallchester             9  Rural
118      Jessicaport             1  Rural
119  South Saramouth             7  Rural

[120 rows x 3 columns]

In [3]:
# We'll use the .count() method to find the names of our coumns that arent null
citydata_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [4]:
# ^ So we have 120 rows for each column. To make sure we have no null values we write:
citydata_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [5]:
# We have zero null values! Next we need to confirm that the driver count column has only integer values
citydata_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [6]:
# The column does indeed only contain integers
# Now lets find how many data points there are for each unique type of city
citydata_df["type"].unique()
# This code looks at the column "type" inside of our df and outputs all unique elements

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [21]:
# Lets get the sums of the different types of cities
urban_count = sum(citydata_df["type"] == "Urban")
suburban_count = sum(citydata_df["type"] == "Suburban")
rural_count = sum(citydata_df["type"] == "Rural")

54

In [23]:
# Lets apply the same process to the ridedata_df
# Get the columns and the rows that are not null
ridedata_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [25]:
ridedata_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [27]:
# The output shows that there are no null values in all three columns, lets check the types of data in each column
ridedata_df.dtypes
# As expected we find the fare column only holds integer values

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [31]:
# Merge your dataframes
pyber_df = pd.merge(ridedata_df, citydata_df, how="left", on=["city","city"])
pyber_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [8]:
# Create a bubble chart that showcases the average fare versus the total number of rides with bubble size based on the total number of drivers for each city type,
# including urban, suburban, and rural.

In [9]:
# Determine the mean, median, and mode for the following:
#     The total number of rides for each city type.
#     The average fares for each city type.
#     The total number of drivers for each city type.

In [10]:
# Create box-and-whisker plots that visualize each of the following to determine if there are any outliers:
#     The number of rides for each city type.
#     The fares for each city type.
#     The number of drivers for each city type.

In [11]:
# Create a pie chart that visualizes each of the following data for each city type:
#     The percent of total fares.
#     The percent of total rides.
#     The percent of total drivers.